Package: dumphive
Version: 0.0.3-1
Section: utils
Priority: optional
Architecture: i386
Recommends: amigu
Installed-Size: 188
Maintainer: Junta de Andalucía <packmaster@guadalinex.org>
Description: Extract keys and values of wind9x and nt/w2k/xp registry files
 Dumphive extracts keys and values of win9x and nt/w2k/xp registry files
 (socalled hives) and writes them to a text file (by default in regedit
 compatible format).
 .
 As dumphive can also be compiled under linux, it is possible to dump
 the contents of registry hives on a windows partition also from linux.
