[Desktop Entry]
Encoding=UTF-8
Name=Ayuda
Name[es]=Ayuda
Comment=Te lleva a la página de ayuda de Guadalinex
Exec=
Terminal=false
Type=Application
Icon=ayuda
