Source: xapi
Section: utils
Priority: optional
Maintainer: Junta de Andalucía <packmaster@guadalinex.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: xapi
Architecture: any
Depends: perl-base (>= 4.0), libui-dialog-perl, zenity, synaptic, firefox, guadalinex-desktop-conf
Description: Support for the so named "apt protocol" in Firefox
 Xapi is a perl script that uses synaptic to install packages from repositories.
 It can also, if called with a local route, install a single package. This
 packages add part of the support for "apt protocol" in Firefox. When Firefox
 founds an apt:// link, it calls xapi with the url as argument.
