Package: g3g
Version: 0.1
Section: net
Priority: optional
Architecture: i386
Depends: vmc
Installed-Size: 64
Maintainer: David Teyssiere Rubio <dteyssiere@emergya.es>
Description: Asistente para conexión con dispositivos móviles
 Con este asistente usted podrá lanzar los programas y configuraciones
 necesarias dependiendo del operador con el que realize su conexión 3g
