Source: odccm
Section: unknown
Priority: optional
Maintainer: ghe <ghernando@yaco.es>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: odccm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: legacy-free dccm-implementation
 odccm is a legacy-free dccm-implementation 
 for Windows Mobile 5 (and newer) devices.
