Source: guadalinex-noodle
Section: unknown
Priority: optional
Maintainer: Ghe Rivero <ghernando@yaco.es>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: guadalinex-noodle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, synce-trayicon, synce-gnomevfs, synce-software-manager, synce-kde, multisync, bluez-utils, bluez-passkey-gnome
Recommends: kcemirror 
Description: Sincornización de PDAs y móviles en Guadalinex
 Sincornización de PDAs y móviles en Guadalinex
