Package: lemurae
Version: 0.2-1
Section: gnome
Priority: optional
Architecture: i386
Depends: python, python-gnome2-extras
Installed-Size: 112
Maintainer: Gumersindo Coronel Pérez <goomerko@gmail.com>
Description: Graphical frontend for DRAE
 Graphical frontend for DRAE written Python.
