Package: lowmemcheck
Version: 1.18ubuntu2guada1
Section: debian-installer
Priority: optional
Architecture: i386
Depends: cdebconf-udeb (>= 0.75), main-menu (>= 1.03)
Installed-Size: 52
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Source: lowmem
Description: detect low-memory systems and enter lowmem mode
