Source: guadalinex-language-pack
Section: translations
Priority: optional
Maintainer: Roberto Majadas <roberto.majadas@openshine.com>
Build-Depends: debhelper (>= 5), gettext
Standards-Version: 3.7.2

Package: guadalinex-language-pack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Paquete de internacionalizacion especifico de guadalinex
  Paquete de internacionalizacion especifico de guadalinex
