[Desktop Entry]
Version=1.0
Encoding=UTF-8
Exec=/usr/bin/install_codecs.sh
Icon=gnome-multimedia.png
StartupNotify=true
Terminal=false
MultipleArgs=false
Name=Instalar los codecs privativos
Comment=Instala los codecs privativos
Type=Application
Categories=GNOME;Application;System;Settings;
