Source: synce-gnomevfs
Section: unknown
Priority: optional
Maintainer: Ghe Rivero <ghernando@yaco.es>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: synce-gnomevfs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: gnomeVFS module for Windows CE and Pocket PC 
 SynCE: GnomeVFS module for accessing Windows CE and 
 Pocket PC Devices.  SynCE-GnomeVFS is part of the SynCE 
 project:

 http://synce.sourceforge.net/

