[Desktop Entry]
Encoding=UTF-8
Name=Evolution
Name[ar]=افُليوشِن
Name[az]=Evolution
Name[be]=Evolution - Эвалюцыя
Name[bg]=Evolution
Name[bn]=Evolution
Name[bn_IN]=Evolution
Name[ca]=Evolution
Name[cs]=Evolution
Name[cy]=Evolution
Name[da]=Evolution
Name[de]=Evolution
Name[dz]=ཨི་བོ་ལུ་ཤཱན།
Name[el]=Evolution
Name[en_CA]=Evolution
Name[en_GB]=Evolution
Name[es]=Evolution
Name[et]=Evolution
Name[eu]=Evolution
Name[fa]=اوولوشن
Name[fi]=Evolution
Name[fr]=Evolution
Name[ga]=Evolution
Name[gl]=Evolution
Name[gu]=ઈવોલ્યુશન
Name[hi]=एवोल्यूशन
Name[hr]=Evolution
Name[hu]=Evolution
Name[id]=Evolution
Name[it]=Evolution
Name[ja]=Evolution-2.6
Name[ka]=ევოლუშენი
Name[ko]=에볼루션
Name[lt]=Evolution
Name[lv]=Evolution
Name[mk]=Evolution
Name[ml]=Evolution
Name[mn]=Эволюшин
Name[mr]=इवॉल्यूशन
Name[ms]=Evolution
Name[nb]=Evolution
Name[ne]=इभोल्युसन
Name[nl]=Evolution
Name[nn]=Evolution
Name[pa]=ਈਵੇਲੂਸ਼ਨ
Name[pl]=Evolution
Name[pt]=Evolution
Name[pt_BR]=Evolution
Name[ro]=Evolution
Name[ru]=Evolution
Name[rw]=Impinduka
Name[sk]=Evolution
Name[sl]=Evolution
Name[sq]=Evolution
Name[sr]=Еволуција
Name[sr@Latn]=Evolucija
Name[sv]=Evolution
Name[ta]=எவல்யூஷன்
Name[th]=Evolution
Name[tr]=Evolution
Name[uk]=Evolution
Name[vi]=Evolution
Name[wa]=Evolution
Name[xh]=I-Evolution
Name[zh_CN]=Evolution
Name[zh_HK]=Evolution
Name[zh_TW]=Evolution
GenericName=Groupware Suite
GenericName[be]=Groupware Suite
GenericName[bg]=Програма за работа в група
GenericName[bn]=Groupware Suite
GenericName[bn_IN]=Groupware Suite
GenericName[ca]=Aplicacions de treball en grup
GenericName[cs]=Sada groupware
GenericName[cy]=Cyfres Meddalwedd Grŵp
GenericName[da]=Samarbejdsprogrammelsuite
GenericName[de]=Groupware-Suite
GenericName[dz]=གུ་རུབ་ཝེར་ སུཊི།
GenericName[el]=Groupware Suite
GenericName[en_CA]=Groupware Suite
GenericName[en_GB]=Groupware Suite
GenericName[es]=Suite de trabajo en grupo
GenericName[et]=Grupitöövahend
GenericName[eu]=Talde-lanerako suitea
GenericName[fi]=Ryhmätyöohjelmisto
GenericName[fr]=Suite de travail collaboratif
GenericName[gl]=Suite de traballo en grupo
GenericName[gu]=ગ્રુપવેર સ્યુટ
GenericName[hi]=ग्रूपवेयर सूट
GenericName[hu]=Csoportmunka-szoftver
GenericName[id]=Groupware Suite
GenericName[it]=Suite groupware
GenericName[ja]=グループウェア・スイートです。
GenericName[ko]=그룹웨어 모음
GenericName[lt]=Grupinio darbo įrankis
GenericName[lv]=Programmatūras komplekts
GenericName[mk]=Groupware Suite
GenericName[ml]=Groupware Suite
GenericName[ms]=Sut Groupware
GenericName[nb]=Gruppevareløsning
GenericName[ne]=ग्रूपवेयर सुट
GenericName[nl]=Groupware suite
GenericName[nn]=Gruppevarepakke
GenericName[pa]=ਸਮੂਹਿਕ ਸਰੂਪ
GenericName[pl]=Pakiet do pracy grupowej
GenericName[pt]=Groupwise Suite
GenericName[pt_BR]=Conjunto de Aplicativos de Groupware
GenericName[ro]=Suită Groupware
GenericName[ru]=Пакет для групповой работы
GenericName[sl]=Zbirka za skupinsko delo
GenericName[sq]=Suite Groupware
GenericName[sr]=Пoшаљите електронску пошту пријатељима и пословним сарадницима
GenericName[sr@Latn]=Pošaljite elektronsku poštu prijateljima i poslovnim saradnicima
GenericName[sv]=Grupprogramvarusvit
GenericName[ta]=குழுக்களுக்கான மென்பொருள்
GenericName[th]=ชุดกรุ๊ปแวร์
GenericName[tr]=Groupwise Takımı
GenericName[uk]=Пакет для групової роботи
GenericName[vi]=Bộ phần mềm nhóm (Groupware)
GenericName[xh]=I-Groupware Suite
GenericName[zh_CN]=Groupwise 套件
GenericName[zh_HK]=Groupware 套裝軟件
GenericName[zh_TW]=Groupware 套裝軟體
Comment=The Evolution PIM and Email Client
Comment[bg]=Програма организатор и пощенски клиент - Evolution
Comment[bn]=Evolution PIM ও Email Client
Comment[bn_IN]=Evolution PIM ও Email Client
Comment[ca]=EL gestor d'informació personal i client de correu de l'Evolution
Comment[cs]=Evolution·PIM·a poštovní klient
Comment[cy]=Evolution, Cleient Ebost a Threfnydd Gwybodaeth Bersonol
Comment[da]=Evolution - e-post-klient
Comment[de]=Die Evolution PIM- und E-Mail-Anwendung
Comment[dz]=ཨི་བོ་ལུ་ཤཱན་ པི་ཨའི་ཨེམ་དང་ ཡིག་འཕྲིན་ཞབས་ཏོ་སྤྱོད་མི།
Comment[el]=Εφαρμογή αλληλογραφίας και PIM Evolution
Comment[en_GB]=The Evolution PIM and Email Client
Comment[es]=El cliente de correo electrónica y gestor de información personal
Comment[et]=Evolutioni e-posti ja isikliku teabehalduse klient
Comment[eu]=Evolution: informazio pertsonalaren kudeatzailea eta posta-bezeroa
Comment[fa]=کارگیر PIM و نامه‌ی الکترونیکی اوولوشن
Comment[fi]=Evolution-sähköpostiohjelma
Comment[fr]=Le client de messagerie et l'agenda Evolution
Comment[gl]=O cliente de correo e PIM de Evolution
Comment[gu]=ઈવોલ્યુશન PIM અને ઈમેઈલ ક્લાઈન્ટ
Comment[hi]=एवोल्यूशन PIM और ईमेल क्लाइंट
Comment[hu]=Az Evolution PIM- és levelezőkliens
Comment[id]=Pemakai Surat dan PIM Evolution
Comment[it]=Il client di posta elettronica e PIM Evolution
Comment[ja]=Evolution PIM とメール・クライアントです
Comment[ko]=에볼루션 개인정보 관리 및 메일 클라이언트
Comment[lt]=Evolution PIM ir el. pašto klientas
Comment[lv]=Evolution personiskās informācijas pārvaldnieks un e-pasta klients
Comment[mk]=Evolution PIM и е-пошта клиент
Comment[ml]=Evolution PIM-ഉം mail Client-ഉം
Comment[nb]=Evolution - personlig informasjonshåndterer og e-postklient
Comment[ne]=इभोल्युसन PIM र इमेल क्लाइन्ट
Comment[nl]=Het Evolution PIM en e-mailprogramma
Comment[nn]=Evolution personleg informasjonshandsamar og e-postkomponent
Comment[pa]=ਈਵੇਲੂਸ਼ਨ PIM ਅਤੇ ਈ-ਮੇਲ ਕਲਾਂਇਟ
Comment[pt]=O Gestor Pessoal e Cliente de Email Evolution
Comment[ro]=Clientul de mail si PIM Evolution
Comment[ru]=Почтовый клиент и ежедневник Evolution
Comment[sl]=Poštni odjemalec in PIM Evolution
Comment[sq]=Klienti PIM dhe Email i Evolution
Comment[sr]=Пословни и програм за е-пошту — Еволуција
Comment[sr@Latn]=Poslovni i program za e-poštu — Evolucija
Comment[sv]=Den personliga informationshanteraren och e-postklienten Evolution
Comment[ta]=எவல்யூஷன் PIM மற்றும் மின்னஞ்சல்
Comment[th]=Evolution: ไคลเอนต์อีเมลและการจัดการข้อมูลส่วนบุคคล
Comment[tr]=Evolution PIM ve Posta İstemcisi
Comment[uk]=Поштовий клієнт та щоденник Evolutuion
Comment[vi]=Ứng dụng thư điện tử và quản lý thông tin cá nhân Evolution
Comment[zh_CN]=Evolution 个人信息管理和邮件客户
Comment[zh_HK]=Evolution PIM 與郵件客戶端
Comment[zh_TW]=Evolution PIM 與郵件客戶端
Exec=evolution-2.8
Icon=evolution-2.8
Terminal=false
Type=Application
Categories=GNOME;GTK;Office;Email;Calendar;ContactManagement;X-Red-Hat-Base;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=Evolution
X-GNOME-Bugzilla-Component=Miscellaneous
X-GNOME-Bugzilla-Version=2.8.x
X-GNOME-Bugzilla-OtherBinaries=evolution-data-server-1.8;evolution-exchange-storage;evolution-alarm-notify;

X-Ubuntu-Gettext-Domain=evolution-2.8
NoDisplay=true
