[Desktop Entry]
Encoding=UTF-8
Name=(Gaim) Internet Messenger
Name[ca]=Missatger d'Internet Gaim
Name[ca_ES@valencian]=Gaim - Mensagers instantaneus
Name[cs]=Gaim Internet Messenger
Name[da]=Gaim - internet beskeder
Name[de]=Gaim Internet Messenger
Name[en_GB]=Gaim Internet Messenger
Name[es]=Mensajería instantánea (Gaim)
Name[fa]=پیغام‌رسان اینترنتی گِیم
Name[fi]=Gaim-pikaviestin
Name[fr]=Gaim Messagerie Internet
Name[gl]=Gaim - Mensaxería en Internet
Name[he]=גיים למסרים באינטרנט
Name[hu]=Gaim azonnali üzenő
Name[it]=Gaim Internet Messenger
Name[ja]=Gaim インターネット・メッセンジャー
Name[ko]=게임 메신저
Name[lt]=Interneto pokalbių programa Gaim
Name[nb]=Gaim lynmeldingsklient
Name[nl]=Gaim - Expresberichten
Name[pl]=Komunikator Internetowy Gaim
Name[pt]=Mensageiro Internet Gaim
Name[pt_BR]=Mensageiro da Internet Gaim
Name[ro]=Mesagerul Gaim
Name[ru]=Gaim - клиент обмена мгновенными сообщениями
Name[sl]=Spletni sel Gaim
Name[sq]=Lajmësjellësi Internet Gaim
Name[sv]=Gaim Internet Messenger
Name[zh_CN]=Gaim 互联网通讯程序
Name[zh_TW]=Gaim 網路即時通
GenericName=Internet Messenger
GenericName[ca]=Missatger d'Internet
GenericName[ca_ES@valencian]=Mensagers d'Internet
GenericName[cs]=Internet Messenger
GenericName[da]=Internet beskeder
GenericName[de]=Internet Messenger
GenericName[en_GB]=Internet Messenger
GenericName[es]=Mensajería en Internet
GenericName[fa]=پیغام‌رسان اینترنتی
GenericName[fi]=Pikaviestin
GenericName[fr]=Messagerie internet
GenericName[gl]=Mensaxería en Internet
GenericName[he]=למסרים באינטרנט
GenericName[hu]=Azonnali üzenetküldés
GenericName[it]=Internet Messenger
GenericName[ja]=インターネット・メッセンジャー
GenericName[ko]=메신저
GenericName[lt]=Pokalbiai internete
GenericName[nb]=Lynmeldingsklient
GenericName[nl]=Expresberichten
GenericName[pl]=Komunikator Internetowy
GenericName[pt]=Mensageiro Internet
GenericName[pt_BR]=Mensageiro da Internet
GenericName[ro]=Mesagerie instant
GenericName[ru]=Клиент обмена мгновенными сообщениями
GenericName[sl]=Spletni sel
GenericName[sq]=Lajmësjellës Internet
GenericName[sv]=Meddelandeklient
GenericName[zh_CN]=互联网通讯程序
GenericName[zh_TW]=網路即時通
Comment=Send instant messages over multiple protocols
Comment[ca]=Envieu missatges instantanis en múltiples protocols
Comment[ca_ES@valencian]=Envia mensages instantaneus a través de multiples protocols
Comment[cs]=Posílat instant message různými protokoly
Comment[da]=Send beskeder over flere protokoller
Comment[de]=Multi-Protokoll Instant Messenger Client
Comment[el]=Αποστολή άμεσων μηνυμάτων με τη χρήση πολλαπλών πρωτοκόλλων
Comment[en_GB]=Send instant messages over multiple protocols
Comment[es]=Envíe mensajes instantáneos a través de múltiples protocolos
Comment[fa]=ارسال پیغام فوری با قراردادهای متعدد
Comment[fi]=Lähetä pikaviestejä monilla eri yhteyskäytännöillä
Comment[fr]=Envoie des messages instantanés en utilisant divers protocoles
Comment[gl]=Envía mensaxes instantáneas a través de múltiples protocolos
Comment[he]=מאפשרת לשלוח הודעות מיידיות דרך מספר רב של פרוטוקולים
Comment[hu]=Azonnali üzenetek küldése több protokoll használatával
Comment[it]=Client multiprotocollo per messaggi immediati
Comment[ja]=複数のプロトコルを介してインスタント・メッセージを送信します
Comment[ko]=다중 프로토콜 메신저
Comment[lt]=Bendrauti keliais interneto pokalbių protokolais
Comment[nb]=Send lynmeldinger over flere protokoller
Comment[nl]=Multi-protocol programma voor expresberichten
Comment[pl]=Komunikator internetowy obsługujący kilka protokołów
Comment[pt]=Envie mensagens instantâneas sobre vários protocolos
Comment[pt_BR]=Envie mensagens instantâneas através de múltiplos protocolos
Comment[ro]=Trimiteţi mesaje instant prin orice protocol IM
Comment[ru]=Обмен мгновенными сообщениями с использованием множества протоколов
Comment[sl]=Pošlji neposredna sporočila prek več protokolov
Comment[sq]=Dërgoni mesazhe të atypëratyshëm protokollesh të ndryshëm
Comment[sv]=Sänder snabbmeddelande över många protokoll
Comment[zh_CN]=通过多种协议发送即时消息
Comment[zh_TW]=透過多種通訊協定發送即時訊息
Exec=gaim
Icon=gaim.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Network;
X-Ubuntu-Gettext-Domain=gaim
