[Desktop Entry]
Version=1.0
Encoding=UTF-8
Terminal=false
Icon=openofficeorg-21-printeradmin.png
Type=Application
Categories=Application;Office;X-Red-Hat-Base;X-SuSE-Core-Office;
Exec=openoffice.org-2.1-printeradmin
Name=OpenOffice.org 2.1 Printer Administration
Name[es]=Administración de impresoras (OpenOffice PrinterAdmin)
Name[en]=OpenOffice.org 2.1 Printer Administration
Name[de]=OpenOffice.org 2.1 Druckerverwaltung
Name[af]=OpenOffice.org 2.1-drukkeradministrasie
Name[ar]=OpenOffice.org 2.1 Drucker Verwaltung
Name[as_IN]=OpenOffice.org 2.1 মুদ্ৰক প্ৰশাসন
Name[be_BY]=Кіраванне прынтэрам OpenOffice.org 2.1
Name[bg]=Администрация на принтера за OpenOffice.org 2.1
Name[br]=Ardoadur moullerezed OpenOffice.org 2.1
Name[bs]=OpenOffice.org 2.1 administracija štampača
Name[ca]=Administració d'impressió de l'OpenOffice.org 2.1
Name[cs]=Administrace tiskáren OpenOffice.org 2.1
Name[cy]=Gweinyddu Argraffu OpenOffice.org 2.1
Name[da]=OpenOffice.org 2.1-printeradministration
Name[el]=Διαχείριση εκτυπωτή OpenOffice.org 2.1
Name[en_GB]=OpenOffice.org 2.1 Printer Administration
Name[en_ZA]=OpenOffice.org 2.1 Printer Administration
Name[eo]=OpenOffice.org 2.1 Presila Administrado
Name[es]=Administración de la impresora de OpenOffice.org 2.1 
Name[et]=OpenOffice.org 2.1-i printerite haldamine
Name[fa]=مدیریت چاپگر OpenOffice.org 2.1
Name[fi]=OpenOffice.org 2.1 - Tulostimen hallinta
Name[fr]=Gestion des imprimantes de OpenOffice.org 2.1
Name[ga]=Riarachán na bPrintéirí OpenOffice.org 2.1
Name[gu]=OpenOffice.org 2.1  પ્રિન્ટરનો વહીહટકર્તા
Name[gu_IN]=OpenOffice.org 2.1  પ્રિન્ટરનો વહીહટકર્તા
Name[he]=ניהול מדפסות OpenOffice.org 2.1‏
Name[hi_IN]=OpenOffice.org 2.1 मुद्रक प्रशासन
Name[hr]=OpenOffice.org 2.1 aAdministracija pisača
Name[hu]=OpenOffice.org 2.1 Nyomtatókezelés
Name[it]=OpenOffice.org 2.1 Gestione stampanti
Name[ja]=OpenOffice.org 2.1 プリンタの管理
Name[ka]=OpenOffice.org 2.1 პრინტერის ადმინისტრაცია
Name[km]=ការ​គ្រប់គ្រង​ម៉ាស៊ីន​បោះពុម្ព​ OpenOffice.org 2.1
Name[ko]=OpenOffice.org 2.1 프린터 관리
Name[ku]=OpenOffice.org 2.1 Rêvebiriya Çapgerê
Name[lt]=„OpenOffice.org 2.1“ spausdintuvo tvarkymas
Name[mk]=Администрирање на печатачи во OpenOffice.org 2.1
Name[ml_IN]=OpenOffice.org 2.1 Printer Administration
Name[mr_IN]=OpenOffice.org 2.1 मुद्रक व्यवस्थापन
Name[nb]=OpenOffice.org 2.1-skriveradministrasjon
Name[ne]=OpenOffice.org 2.1 मुद्रक प्रशासन
Name[nl]=OpenOffice.org 2.1-printerbeheer
Name[nn]=OpenOffice.org 2.1-skrivaradministrasjon
Name[nr]=OpenOffice.org 2.1 Ukuphathwa Kwesigadangisi
Name[ns]=OpenOffice.org 2.1 Taolo ya Segatiši
Name[or_IN]=OpenOffice.org 2.1 ପ୍ରିଣ୍ଟର ପ୍ରଶାସନ
Name[pa_IN]=OpenOffice.org 2.1 ਛਪਾਈ ਪ੍ਰਬੰਧਨ
Name[pl]=OpenOffice.org 2.1 - Zarządzanie drukarką
Name[pt]=OpenOffice.org 2.1 - Administração de impressoras
Name[pt_BR]=Administrador de impressoras OpenOffice.org 2.1
Name[ru]=OpenOffice.org 2.1 Управление принтером
Name[rw]=Ubugenzuzi bwa Mucapyi OpenOffice.org 2.1
Name[sh_YU]=OpenOffice.org 2.1 podešavanje štampača
Name[sk]=Správa tlačiarní OpenOffice.org 2.1
Name[sl]=Nastavitve tiskalnika OpenOffice.org 2.1
Name[sr_CS]=OpenOffice.org 2.1 подешавање штампача
Name[ss]=OpenOffice.org 2.1 kuphatfwa kwephrinta
Name[st]=Taolo ya Sehatisi ya OpenOffice.org 2.1
Name[sv]=OpenOffice.org 2.1-skrivaradministration
Name[sw_TZ]=OpenOffice.org 2.1 Utawala wa Printa
Name[ta]=OpenOffice.org 2.1 அச்சடிப்பி நிர்வாகம்
Name[ta_IN]=OpenOffice.org 2.1 அச்சடிப்பி நிர்வாகம்
Name[te_IN]=ముద్రణా యంత్రం యోక్క OpenOffice.org 2.1 నిర్వహించు.
Name[tg]=Идоракунии чопкунаки OpenOffice.org 2.1
Name[th]=ตัวบริหารจัดการเครื่องพิมพ์ OpenOffice.org 2.1 
Name[ti_ER]=OpenOffice.org 2.1 ሓታሚት ኣማሓዳሪ
Name[tn]=OpenOffice.org 2.1 Printer Administration
Name[tr]=OpenOffice.org 2.1 Yazıcı Yönetimi
Name[ts]=Vukongomisi bya Printa OpenOffice.org 2.1
Name[uk]=Налаштування принтера OpenOffice.org 2.1
Name[ur_IN]=OpenOffice.org 2.1 ناشرانتظام
Name[ve]=Mulanguli wa Phirinthara wa OpenOffice.org 2.1
Name[vi]=Quản lý máy in OpenOffice.org 2.1
Name[xh]=Ulawulo Lwesishicileli lwe-OpenOffice.org 2.1
Name[zh_CN]=OpenOffice.org 2.1 打印机管理
Name[zh_TW]=OpenOffice.org 2.1 印表機管理
Name[zu]=OpenOffice.org 2.1 Ukuphathwa komshicileli
