[Desktop Entry]
Encoding=UTF-8
Name=Sound Juicer CD Extractor
Name[be]=Sound Juicer выціскач дыскаў
Name[bg]=Програма за извличане на музика (Sound Juicer)
Name[bn]=সাউন্ড জুসার সিডি এক্সট্র্যাক্টর
Name[bn_IN]=Sound Juicer CD এক্সট্র্যাক্টার
Name[br]=Eztenner CD-où Sound Juicer
Name[ca]=Extractor de CD Sound Juicer
Name[cs]=Extraktor zvukových CD Sound Juicer
Name[cy]=Echdynnydd CD Sound Juicer
Name[da]=Sound Juicer cd-lydudtrækker
Name[de]=Sound Juicer CD-Ausleser
Name[dz]=སའུན་ཇུའི་སར་སི་ཌི་ཕྱིར་འདོན་པ།
Name[el]=Sound Juicer CD Extractor
Name[en_CA]=Sound Juicer CD Extractor
Name[en_GB]=Sound Juicer CD Extractor
Name[es]=Extractor de música de CD (Sound Juicer)
Name[et]=Sound Juicer CD-plaatide rippija
Name[eu]=Sound Juicer CD erauzlea
Name[fi]=Musiikkimaija - CD-levyjen kopiointi
Name[fr]=Extracteur de CDs audio Sound Juicer
Name[gl]=Extractor de CD de Sound Juicer
Name[gu]=સાઉન્ડ જ્યુસર CD અર્ક કાઢનાર
Name[he]=Sound Juicer מחלץ תקליטורים
Name[hi]= साउंड जूसर सीडी एक्सट्रैक्टर
Name[hu]=Sound Juicer CD beolvasó
Name[id]=Pengurai CD Sound Juicer
Name[it]=Estrattore di CD Sound Juicer
Name[ja]=Sound Juicer CD 取り込みツール
Name[ka]=საუნდ ჯუისერი CD გადმომწერი
Name[ko]=사운드 쥬서 음악 CD 가져오기
Name[lt]=Sound Juicer CD iškleidiklis
Name[lv]=Sound juicer CD ekstraktors
Name[mk]=CD екстрактор
Name[ml]=Sound Juicer CD എക്സ്ട്രാക്റ്റര്‍
Name[mn]=CD задлагчийн дууны тохируулагч
Name[nb]=Sound Juicer CD-ripper
Name[nl]=Sound Juicer cd-ripper
Name[nn]=Sound Juicer CD-rippar
Name[or]=ସାଉଣ୍ଡ ଜୂସର ସି.ଡି. ନିର୍ଯ୍ଯାସକ
Name[pa]=ਸਾਊਡ ਜੂਸਰ ਸੀਡੀ ਖੋਲਣ ਵਾਲਾ
Name[pl]=Sound Juicer - Zgrywarka CD
Name[pt]=Extractor de CDs Sound Juicer
Name[pt_BR]=Extrator de CDs Sound Juicer
Name[ro]=Extragere CD Sound Juicer
Name[ru]=Копирование звуковых дисков
Name[sl]=CD pretvornik Sound Juicer
Name[sq]=Shtrydhësi i Tingullit Nxjerrës CD
Name[sr]=Звуковник
Name[sr@Latn]=Zvukovnik
Name[sv]=Cd-extraheraren Sound Juicer
Name[ta]=ஓசை பிழிப்பான் குறுந்தட்டு பிரித்தெடுப்பான்
Name[th]=Sound Juicer: โปรแกรมคัดลอกเพลงจากซีดี
Name[tr]=Sound Juicer Ses CD'si Aktarıcı
Name[uk]=Копіювання звуку із звукових дисків
Name[vi]=Bộ trích đĩa CD Sound Juicer
Name[zh_CN]=音乐榨汁机 CD 提取器
Name[zh_HK]=Sound Juicer 音樂擷取程式
Name[zh_TW]=Sound Juicer 音樂擷取程式
GenericName=CD Extractor
GenericName[be]=Выціскач CD
GenericName[bg]=Извличане на музика от CD
GenericName[bn]=সিডি এক্সট্র্যাক্টর
GenericName[bn_IN]=CD এক্সট্র্যাক্টার
GenericName[br]=Eztenner CD-où
GenericName[ca]=Extractor de CD
GenericName[cs]=Extraktor CD
GenericName[cy]=Echdynnydd CD
GenericName[da]=Cd-lydudtrækker
GenericName[de]=CD-Auslesen
GenericName[dz]=སི་ཌི་ཕྱིར་འདོན་འབད།
GenericName[el]=CD Extractor
GenericName[en_CA]=CD Extractor
GenericName[en_GB]=CD Extractor
GenericName[es]=Extractor de CDs
GenericName[et]=CD-Rippija
GenericName[eu]=CD erauzlea
GenericName[fi]=CD-levyjen kopiointi
GenericName[fr]=Un extracteur de CDs audio
GenericName[gl]=Extractor de CD
GenericName[gu]=CD અર્ક કાઢનાર
GenericName[he]=חולץ תקליטורים
GenericName[hi]=सीडी एक्सट्रैक्टर
GenericName[hu]=CD beolvasó
GenericName[id]=Pengurai CD
GenericName[it]=Estrattore di CD
GenericName[ja]=CD 取り込みツール
GenericName[ka]=CD გადმომწერი
GenericName[ko]=음악 CD 가져오기
GenericName[lt]=CD išskleidiklis
GenericName[lv]=CD ekstraktors
GenericName[mk]=CD екстрактор
GenericName[ml]=സി.ഡിയില്‍ നിന്നും കംപ്യൂട്ടറിലേക്ക് വസ്തുക്കള്‍ പകര്‍ത്തുന്ന സംവിധാനം
GenericName[mn]=CD задлагч
GenericName[nb]=CD-ripper
GenericName[nl]=Kopiëren van cd's
GenericName[nn]=CD-rippar
GenericName[or]=ସି.ଡି. ନିର୍ଯ୍ଯାସକ
GenericName[pa]=CD ਖੋਲ੍ਹੋ
GenericName[pl]=Zgrywarka CD
GenericName[pt]=Extractor de CDs
GenericName[pt_BR]=Extrator de CD
GenericName[ro]=Extragere CD
GenericName[ru]=Копирование звуковых дисков
GenericName[sl]=CD pretvornik
GenericName[sq]=Nxjerrësi i CD-së
GenericName[sr]=Узимање музике са носача звука
GenericName[sr@Latn]=Uzimanje muzike sa nosača zvuka
GenericName[sv]=Cd-extraherare
GenericName[ta]=குறுந்தட்டு- பிரித்தெடுப்பான்
GenericName[th]=โปรแกรมคัดลอกเพลงจากซีดี
GenericName[tr]=Ses CD'si Aktarıcı
GenericName[uk]=Копіювання звукових CD
GenericName[vi]=Bộ trích đĩa CD
GenericName[zh_CN]=CD 提取器
GenericName[zh_HK]=光碟擷取程式
GenericName[zh_TW]=光碟擷取程式
Comment=Extract music from your CDs
Comment[ar]=خلع موسيقاك من أقراصك المدمجة
Comment[az]=CD-lərdən musiqi fayllarını köçürün
Comment[be]=Здабывае музыку з вашых музычных дыскаў
Comment[bg]=Извличане на музика от CD-та
Comment[bn]=সিডি থেকে সঙ্গীত নিস্কাশন কর
Comment[bn_IN]=CD-তে উপস্থিত সংগীত নিষ্কাশন করুন
Comment[br]=Estennañ sonerezh diouzh ho CD-où
Comment[ca]=Extreu música dels vostres CD
Comment[cs]=Extrahovat hudbu z vašich CD
Comment[cy]=Echdynnu cerddoriaeth o CDau
Comment[da]=Kopiér musik fra dine cd'er
Comment[de]=Ihre Musik-CDs auslesen
Comment[dz]=ཁྱོད་རའི་སི་ཌི་ནང་ལས་ གླུ་དབྱངས་ཕྱིར་འདོན་འབད།
Comment[el]=Εξαγωγή μουσικής από τα CD σας
Comment[en_CA]=Extract music from your CDs
Comment[en_GB]=Extract music from your CDs
Comment[es]=Extraiga música de sus CDs
Comment[et]=Muusika salvestamine Sinu CD-plaatidelt
Comment[eu]=Erauzi musika zure CD-etatik
Comment[fa]=از سی‌دی‌هایتان موسیقی استخراج کنید
Comment[fi]=Kopioi musiikkia CD-levyiltä
Comment[fr]=Extrait la musique de vos CDs audio
Comment[gl]=Extrae música desde os teus CDs
Comment[gu]=તમારી CD ઓમાંથી સંગીત બહાર કાઢો
Comment[he]=חלץ מוסיקה מהתקליטורים שלך
Comment[hi]=अपने सीडी से संगीत निकालें
Comment[hu]=Zene beolvasása CD lemezekről
Comment[id]=Rekam musik dari CD anda
Comment[it]=Estrae la musica dai CD
Comment[ja]=お好みの CD から楽曲を取り込みます
Comment[ka]=მუსიკის CD-დან გადმოწერა
Comment[ko]=CD에서 음악을 뽑아냅니다
Comment[lt]=Įsirašyti muzikai iš Audio CD
Comment[lv]=Iegūt mūziku no jūsu CD
Comment[mk]=Вади музика од CD-иња
Comment[ml]=നിങ്ങളുടെ സി.ഡികളില്‍ നിന്നും കംപ്യൂട്ടറിലേക്ക് ഗാനങ്ങള്ഡ പകര്‍ത്തുക
Comment[mn]=CD-уудээс хөгжмийг гаргах
Comment[ms]=Ekstrak bunyian drpd CD anda
Comment[nb]=Hent musikk fra dine CDer
Comment[ne]=तपाईँको सिडीहरूबाट सङ्गितहरू निकाल्नुहोस्
Comment[nl]=Muziek van uw cd's kopiëren (ook wel rippen genoemd)
Comment[nn]=Kopier musikk frå CD-ane dine
Comment[or]=ଆପଣଙ୍କ ସି.ଡି. ରୁ ସଙ୍ଗୀତକୁ ନିର୍ଯ୍ଯାସ କରନ୍ତୁ
Comment[pa]=ਆਪਣੀ ਸੀਡੀ ਤੋਂ ਸੰਗੀਤ ਖੋਲ੍ਹੋ
Comment[pl]=Zgrywanie muzyki z płyt CD
Comment[pt]=Extraia música dos seus CDs
Comment[pt_BR]=Extraia música dos seus CDs
Comment[ro]=Extrage muzică de pe CD-urile dumneavoastră
Comment[ru]=Копирует музыку с ваших звуковых дисков
Comment[sk]=Extrahovať hudbu z vašich CD
Comment[sl]=Pretvorite glasbo iz zgoščenk
Comment[sq]=Nxirr muzikë nga CDtë tuaja
Comment[sr]=Извуците музику са ваших носача звука
Comment[sr@Latn]=Izvucite muziku sa vaših nosača zvuka
Comment[sv]=Extrahera musik från dina cd-skivor
Comment[ta]=குறுந்தட்டிலிருந்து உங்கள் இசையை பிரித்தெடுங்கள்
Comment[th]=คัดลอกเพลงจากซีดี
Comment[tr]=Müzik CD'lerinizi sabit diske aktarın
Comment[ug]=دىن مۇزىكا ئالماق CD
Comment[uk]=Копіювання музики з компакт-дисків
Comment[vi]=Có thể trích âm nhạc ra các CD của bạn
Comment[xh]=Khupha umculo kwii-CD zakho
Comment[zh_CN]=从您的 CD 中提取音乐
Comment[zh_HK]=從光碟中擷取音樂
Comment[zh_TW]=從光碟中擷取音樂
Exec=sound-juicer
Icon=sound-juicer
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Application;AudioVideo;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=sound-juicer
X-GNOME-Bugzilla-Component=general
X-Ubuntu-Gettext-Domain=sound-juicer
