[GdmGreeterTheme]
Greeter=Guadalinex.xml
Name=Guadalinex
Description=Guadalinex Default Welcome Theme
Author=Jeff Waugh, Mark Shuttleworth, Jozef Mak, Jonathan Austin, Frank Schoep, Gabriel Rodriguez Alberich
Copyright=(c) 2004-2006 Canonical Ltd., (c) 2006 Junta de Andalucia
Screenshot=screenshot.png
X-Ubuntu-Gettext-Domain=edgy-gdm-themes
