[Desktop Entry]
Encoding=UTF-8
Name=Actualizador de Guadalinex
Name[es]=Actualizador de Guadalinex
Comment=Actualiza tu sistema Guadalinex
Comment[es]=Actualiza tu sistema Guadalinex
Exec=gksudo /usr/sbin/guadalinex-upgrader
Terminal=false
MultipleArgs=false
Type=Application
Icon=guadalinex-upgrader.png
Categories=GNOME;Application;System;Settings;
