Source: synce-trayicon
Section: misc
Priority: optional
Maintainer: Ghe Rivero <ghernando@yaco.es>
Build-Depends: debhelper (>= 5), autotools-dev, libgnome2-dev, libgnomeui-dev, g++, libsynce0-dev, librra0-dev, libgtop2-dev
Standards-Version: 3.7.2

Package: synce-trayicon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SynCE: Tray icon for GNOME 2
 synce-trayicon is part of the SynCE project:
  http://synce.sourceforge.net/
 This application shows when a device is connected.
